.panel{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.panel-input{
	flex-basis: 65%;
}

.panel-btnSearch{
	flex-basis: 5%;
}

.panel-filters{
	display: flex;
	gap: 10px;
	flex-basis: 30%;
}